@page "/addpost"
@using ApiContracts
@using BlazorApp.Services
@inject IPostService PostService
@code {
private CreatePostDto newPost = new CreatePostDto { UserId = 1 }; 

private async Task AddPostAsync()
{
await PostService.AddPostAsync(newPost);
newPost = new CreatePostDto { UserId = 1 };
}
}

<h3>Add New Post</h3>
<div>
    <label>Title:</label>
    <input @bind="newPost.Title" placeholder="Post Title" />

    <label>Body:</label>
    <textarea @bind="newPost.Body" placeholder="Post Body"></textarea>

    <button @onclick="AddPostAsync">Add Post</button>
</div>
