@page "/posts"
@using ApiContracts
@using BlazorApp.Services
@inject IPostService PostService

<link rel="stylesheet" href="posts.css "/>
@code {
    private List<PostDto> posts = new();

    protected override async Task OnInitializedAsync()
    {
        posts = await PostService.GetPostsAsync();
    }
}

<div class="posts-container">
    <h3>Posts</h3>
    <ul class="post-list">
        @foreach (var post in posts)
        {
            <li class="post-item">
                <a href="@($"/post/{post.Id}")" class="post-link">@post.Title</a>
            </li>
        }
    </ul>
</div>